.sidebar {
  background-color: #dfdfdf;
  height: 100vh;
  position: sticky;
  overflow-x: hidden;
  z-index: 1;
  top: 0;
  left: 0;

  .sidebar-wrapper {
  }
  .sidebar-title {
    padding: 18px 10px;
    border-bottom: 1px solid #d2d0d0;
    color: rgb(59, 59, 59);
  }
  .sidebar-list {
    list-style: none;
    margin: 0;
    padding: 0px;

    .sidebar-list-item {
      padding: 10px 0;
      font-weight: 500;
      cursor: pointer;
      padding: 10px 20px;
      &:hover {
        background-color: white;
      }

      svg {
        margin-right: 10px;
        color: #4e4e4e;
      }
    }
  }
}
