.shipping-address {
  margin: 50px 0;
  width: 75%;
  form {
    .form-group {
      label {
        margin-top: 15px;
        font-family: 'Padauk', sans-serif;
      }
      .form-control {
      }
      span {
          font-size: 14px;
          color: red;
          display: block;
          margin-bottom: 15px;
      }
    }
  }
}
