.ProductDetails {
  margin: 70px 0;
  .product-images {
    img {
      width: 75%;
    }
    .product-more-image img {
      width: 100px;
      margin-top: 20px;
      padding-right: 10px;
      cursor: pointer;
    }
  }
  .product-details-content {
    .list-unstyled li {
      padding: 10px 0;
      span {
        color: green;
        font-weight: 600;
      }
    }
    select {
      padding: 0px 15px;
      border: 1px solid #afafaf;
      margin: 0px 30px 0px 10px;
    }
    .special-note{
        margin-top: 20px;
        color: red;
    }
  }
}
