.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login-inner {
    margin: 100px 0px 30px 0px;
    background-color: #ffffff;
    padding: 25px;
    width: 340px;
    border: 1px solid whitesmoke;
    box-shadow: 1px 2px 8px 2px #b7b7b7;
    form {
      label {
        font-family: "Source Sans Pro", sans-serif;
        margin: 5px 0px;
      }
      span {
        color: red;
        font-size: 13px;
        display: block;
      }
      input[type="submit"] {
        background-color: #ef3495;
        color: white;
        text-transform: uppercase;
        margin-top: 15px;
        padding: 5px 30px;
        display: block;
        margin-left: auto;
      }
      .form-group {
        position: relative;
      }
      .icon i {
        color: black;
        position: absolute;
        right: 8px;
        bottom: 10px;
      }
    }
    .socail-login{
      display: flex;
      justify-content: center;
      i{
        margin: 10px;
        font-size: 25px;
      }
    }
  }
}
